<html>
<head>
   <title>The OpperBlog</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'/>
   <link rel='stylesheet' type='text/css' href='/css/blog.css'>
</head>
<body>
   <!-- This needs a background image -->
   <div id='hero' class='jumbotron'>
      <h1 id='blog-title'>The OpperBlog</h1>
      <h4 id='blog-subtitle' class='lead'>The inner workings of my mind are an enigma</h4>
   </div>

   <!-- This is where the list of posts will be -->
   <main class='container'>
      <section id='post-list'>

         <!-- List of posts as article elements -->
         <article class='post'>
            <a class='post-link' href='#moar'>
               <h1 class='post-title'>WebScale Framework</h1>
               <p class='lead'>Mobile First Ship It</p>

               <!-- Truncation can either be done on the front or back end -->
               <p>Tablet publishing HTML5 mobile first really simple
               syndication meetups white board walls. User experience iterate
               algorithm gamification semantic web value add market research
               stealth. Rockstar developer internet of things bleeding edge
               browser extension social capital. Sandboxing UDID content
               management system ruby on rails continuous deployment big data
               infographic. Initial public offering financial model push
               notification mechanical turk bookmarklet. Term sheet convertible
               note colluding bootstrapping. Cloud computing subscription model
               out of the box proactive solution.
               </p>
            </a>
            <!-- <a class='read-more-link' href='#moar'>Read More</a> -->
         </article>
         <article class='post'>
            <a class='post-link' href='#moar'>
               <h1 class='post-title'>Say What Again!</h1>
               <p class='lead post-subtitle'>Le Big-Mac</p>

               <!-- Truncation can either be done on the front or back end -->
               <p>Now that we know who you are, I know who I am. I'm not a
               mistake! It all makes sense! In a comic, you know how you can tell
               who the arch-villain's going to be? He's the exact opposite of the
               hero. And most times they're friends, like you and me! I should've
               known way back when... You know why, David? Because of the kids.
               They called me Mr Glass.</p>
            </a>
            <!-- <a class='read-more-link' href='#moar'>Read More</a> -->
         </article>
      </section>
   </main>
   <!-- Defer JS loading -->
   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
