/* CSS specific to the blog list page */

#hero {
   background-image: url('/images/slo.jpg');
   background-position: 0% 20%;
   background-size: cover;
   width: 100%;
   height: 300px;
   text-align: center;
}

#hero h1, #hero p {
   color: white !important;
}

/* Font sizes and weights */
#hero h1 {

}

/* Font sizes and weights */
#hero p {

}

#postList {
   width: 725px;
   margin: 0% auto;
   /* margin-bottom: 30px; */

}

.post {
   padding-right: 10px;
   padding-left: 10px;
   margin-bottom: 50px;
}
